<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sc.Mvc.DisplayModeView.RegisterDisplayMode, Sc.Mvc.DisplayModeView" />
      </initialize>
      <mvc.getRenderer>
        <processor type="Sc.Mvc.DisplayModeView.GetDisplayModeViewRenderer, Sc.Mvc.DisplayModeView" patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc']"/>
      </mvc.getRenderer>
    </pipelines>
  </sitecore>
</configuration>